@page "/button"

<!--Default button-->
<Content Title="Button">
    Button can be used as a normal html button or as reset and submit button.
    Button component has all the attributes of normal html button <code>onclick</code>,
    <code>type</code>,<code>disabled</code> etc. with additional parameters such as 
    <code>IsLoading</code> as you will see in this page.
</Content>
<Snippet>
    <Output>
        <Button>Button</Button>
        <Button type="submit">Submit</Button>
        <Button type="reset">Reset</Button>
    </Output>
    <Code>
@("<Button>Button</Button>")
@("<Button type=\"submit\">Submit</Button>")
@("<Button type=\"reset\">Reset</Button>") 
    </Code>
</Snippet>

<!--Color button-->
<Content Title="Colors">
    The button is available in all the <b>different colors</b>.
</Content>
<Snippet>
    <Output>
        <div class="buttons">
            <Button class="is-primary">Primary</Button>
            <Button class="is-link">Link</Button>
        </div>

        <div class="buttons">
            <Button class="is-info">Info</Button>
            <Button class="is-success">Success</Button>
            <Button class="is-warning">Warning</Button>
            <Button class="is-danger">Danger</Button>
        </div>
    </Output>
    <Code>
@("<div class=\"buttons\">")
    @("<Button class=\"is-primary\">Primary</Button>")
    @("<Button class=\"is-link\">Link</Button>")
@("</div>") 
@("<div class=\"buttons\">")
    @("<Button class=\"is-info\">Info</Button>")
    @("<Button class=\"is-success\">Success</Button>")
    @("<Button class=\"is-warning\">Warning</Button>")
    @("<Button class=\"is-danger\">Danger</Button>")
@("<div class=\"buttons\">")
    </Code>
</Snippet>

<!--Light color button-->
<Content>
    Each color now comes in its light version. Simply append the modifier  
    <code>is-light</code> to the color modifier to apply the light 
    version of the button.
</Content>
<Snippet>
    <Output>
        <div class="buttons">
            <Button class="is-primary is-light">Primary</Button>
            <Button class="is-link is-light">Link</Button>
        </div>

        <div class="buttons">
            <Button class="is-info is-light">Info</Button>
            <Button class="is-success is-light">Success</Button>
            <Button class="is-warning is-light">Warning</Button>
            <Button class="is-danger is-light">Danger</Button>
        </div>
    </Output>
    <Code>
@("<div class=\"buttons\">")
    @("<Button class=\"is-primary is-light\">Primary</Button>")
    @("<Button class=\"is-link is-light\">Link</Button>")
@("</div>") 
@("<div class=\"buttons\">")
    @("<Button class=\"is-info is-light\">Info</Button>")
    @("<Button class=\"is-success is-light\">Success</Button>")
    @("<Button class=\"is-warning\">Warning</Button>")
    @("<Button class=\"is-danger is-light\">Danger</Button>")
@("<div class=\"buttons\">")
    </Code>
</Snippet>

<!--B/W button-->
<Content >
    The button are also available in black and white theme.
</Content>
<Snippet>
    <Output>
        <Button class="is-white">White</Button>
        <Button class="is-light">Light</Button>
        <Button class="is-dark">Dark</Button>
        <Button class="is-black">Black</Button>
        <Button class="is-text">Text</Button>
    </Output>
    <Code>
@("<Button class=\"is-white\">White</Button>")
@("<Button class=\"is-light\">Light</Button>")
@("<Button class=\"is-dark\">Dark</Button>")
@("<Button class=\"is-black\">Black</Button>") 
@("<Button class=\"is-text\">Text</Button>")       
    </Code>
</Snippet>

<!--Sizes-->
<Content Title="Sizes">
The button comes in 4 different sizes:
<ul>
    <li>small</li>
    <li>normal</li>
    <li>medium</li>
    <li>large</li>
</ul>

While the default size is the normal one, the <code>is-normal</code> modifier exists 
in case you need to reset the button to its normal size.
</Content>

<Snippet>
    <Output>
        <Button class="is-small">Small</Button>
        <Button>Default</Button>
        <Button class="is-normal">Normal</Button>
        <Button class="is-medium">Medium</Button>
        <Button class="is-large">Large</Button>
    </Output>
        <Code>
@("<Button class=\"is-small\">Small</Button>")
@("<Button>Default</Button>")
@("<Button class=\"is-normal\">Normal</Button>")
@("<Button class=\"is-medium\">Medium</Button>") 
@("<Button class=\"is-large\">Large</Button>")       
    </Code>

</Snippet>

<Content>
    You can change the size of multiple buttons at once by wrapping 
    them in a <code>buttons</code> parent, and applying one of 3 modifiers:

    <ul>
        <li>are-small</li>
        <li>are-medium</li>
        <li>are-large</li>
    </ul>
</Content>
<Snippet>
    <Output>
        <div class="buttons are-medium">
            <Button>All</Button>
            <Button>Medium</Button>
            <Button>Size</Button>
        </div>
    </Output>
    <Code>
@("<div class=\"buttons are-medium\">")
    @("<Button>All</Button>")
    @("<Button>Medium</Button>")
    @("<Button>Size</Button>")  
@("</div>")
    </Code>

</Snippet>

<!--Styles-->
<Content Title="Styles">
    Outlined
</Content>
<Snippet>
    <Output>
        <div class="buttons">
            <Button class="is-outlined">Outlined</Button>
            <Button class="is-primary is-outlined">Outlined</Button>
            <Button class="is-link is-outlined">Outlined</Button>
            <Button class="is-info is-outlined">Outlined</Button>
            <Button class="is-success is-outlined">Outlined</Button>
            <Button class="is-danger is-outlined">Outlined</Button>
        </div>
    </Output>
    <Code>
@("<div class=\"buttons\">")
    @("<Button class=\"is-outlined\">Outlined</Button>")
    @("<Button class=\"is-primary is-outlined\">Outlined</Button>")
    @("<Button class=\"is-link is-outlined\">Outlined</Button>")
    @("<Button class=\"is-info is-outlined\">Outlined</Button>")
    @("<Button class=\"is-success is-outlined\">Outlined</Button>")
    @("<Button class=\"is-danger is-outlined\">Outlined</Button>")
@("</div>") 
    </Code>

</Snippet>

<!--Rounded Buttons-->
<Content>
    Rounded Buttons
</Content>
<Snippet>
    <Output>
        <div class="buttons">
            <Button class="is-rounded">Rounded</Button>
            <Button class="is-primary is-rounded">Rounded</Button>
            <Button class="is-link is-rounded">Rounded</Button>
            <Button class="is-info is-rounded">Rounded</Button>
            <Button class="is-success is-rounded">Rounded</Button>
            <Button class="is-danger is-rounded">Rounded</Button>
        </div>
    </Output>
    <Code>
@("<div class=\"buttons\">")
    @("<Button class=\"is-rounded\">Rounded</Button>")
    @("<Button class=\"is-primary is-rounded\">Rounded</Button>")
    @("<Button class=\"is-link is-rounded\">Rounded</Button>")
    @("<Button class=\"is-info is-rounded\">Rounded</Button>")
    @("<Button class=\"is-success is-rounded\">Rounded</Button>")
    @("<Button class=\"is-danger is-rounded\">Rounded</Button>")
@("</div>") 
    </Code>

</Snippet>

<!--Loading Buttons-->
<Content>
    Loading <br>
    <p>
    You can very easily turn a button into its loading version by appending 
    the is-loading modifier. You don't even need to remove the inner text, 
    which allows the button to maintain its original size between its default 
    and loading states.
    </p>
</Content>
<Snippet>
    <Output>
        <div class="buttons">
            <Button class="" IsLoading=@true>Loading</Button>
            <Button class="is-primary" IsLoading=@true>Loading</Button>
            <Button class="is-link" IsLoading=@true>Loading</Button>
            <Button class="is-info" IsLoading=@true>Loading</Button>
            <Button class="is-success" IsLoading=@true>Loading</Button>
            <Button class="is-danger" IsLoading=@true>Loading</Button>
        </div>
    </Output>
    <Code>
@("<div class=\"buttons\">")
    @("<Button IsLoading=@variable>Loading</Button>")
    @("<Button class=\"is-primary \" IsLoading=@variable>Loading</Button>")
    @("<Button class=\"is-link \" IsLoading=@variable>Loading</Button>")
    @("<Button class=\"is-info \" IsLoading=@variable>Loading</Button>")
    @("<Button class=\"is-success \" IsLoading=@variable>Loading</Button>")
    @("<Button class=\"is-danger \" IsLoading=@variable>Loading</Button>")
@("</div>") 
    </Code>

</Snippet>


<!--Disable Buttons-->
<Content>
    Disabled <br>
    <p>
        You can easily disable a button based on bool value of variable.
    </p>
</Content>
<Snippet>
    <Output>
        <div class="buttons">
            <Button class="" disabled=@true>Disabled</Button>
            <Button class="is-primary" disabled=@true>Disabled</Button>
            <Button class="is-link" disabled=@true>Disabled</Button>
            <Button class="is-info" disabled=@true>Disabled</Button>
            <Button class="is-success" disabled=@true>Disabled</Button>
            <Button class="is-danger" disabled=@true>Disabled</Button>
        </div>
    </Output>
    <Code>
@("<div class=\"buttons\">")
    @("<Button disabled=@variable>Loading</Button>")
    @("<Button class=\"is-primary\" disabled=@variable>Loading</Button>")
    @("<Button class=\"is-link\" disabled=@variable>Loading</Button>")
    @("<Button class=\"is-info\" disabled=@variable>Loading</Button>")
    @("<Button class=\"is-success\" disabled=@variable>Loading</Button>")
    @("<Button class=\"is-danger\" disabled=@variable>Loading</Button>")
@("</div>") 
    </Code>
</Snippet>

<!--Icon Buttons-->
<Content Title="With Font Awesome icons">
    <p>
BulmaBLazor buttons can easily be enhanced by adding a Font Awesome icon.
For the best results, wrap the inner text in a separate span element.
</p>
</Content>

<Snippet>
    <Output>
        <p class="buttons">
            <Button>
                <span class="icon is-small">
                <i class="fas fa-bold"></i>
                </span>
            </Button>
            <Button>
                <span class="icon is-small">
                <i class="fas fa-italic"></i>
                </span>
            </Button>
            <Button>
                <span class="icon is-small">
                <i class="fas fa-underline"></i>
                </span>
            </Button>
            </p>
            <p class="buttons">
            <Button>
                <span class="icon">
                <i class="fab fa-github"></i>
                </span>
                <span>GitHub</span>
            </Button>
            <Button class="is-primary">
                <span class="icon">
                <i class="fab fa-twitter"></i>
                </span>
                <span>@@jgthms</span>
            </Button>
            <Button class="is-success">
                <span class="icon is-small">
                <i class="fas fa-check"></i>
                </span>
                <span>Save</span>
            </Button>
            <Button class="is-danger is-outlined">
                <span>Delete</span>
                <span class="icon is-small">
                <i class="fas fa-times"></i>
                </span>
            </Button>
            </p>
            <p class="buttons">
            <Button class="is-small">
                <span class="icon is-small">
                <i class="fab fa-github"></i>
                </span>
                <span>GitHub</span>
            </Button>
            <Button>
                <span class="icon">
                <i class="fab fa-github"></i>
                </span>
                <span>GitHub</span>
            </Button>
            <Button class="is-medium">
                <span class="icon">
                <i class="fab fa-github"></i>
                </span>
                <span>GitHub</span>
            </Button>
            <Button class="is-large">
                <span class="icon is-medium">
                <i class="fab fa-github"></i>
                </span>
                <span>GitHub</span>
            </Button>
        </p>
    </Output>
    <Code>
&lt;p class=&quot;buttons&quot;&gt; 
    &lt;Button&gt; &lt;span class=&quot;icon is-small&quot;&gt; &lt;
        i class=&quot;fas fa-bold&quot;&gt;&lt;/i&gt;
        &lt;/span&gt; 
    &lt;/Button&gt; 
    &lt;Button&gt; &lt;span class=&quot;icon is-small&quot;&gt; 
        &lt;i class=&quot;fas fa-italic&quot;&gt;&lt;/i&gt; 
        &lt;/span&gt; 
    &lt;/Button&gt; 
    &lt;Button&gt; &lt;span class=&quot;icon is-small&quot;&gt; 
        &lt;i class=&quot;fas fa-underline&quot;&gt;&lt;/i&gt; 
        &lt;/span&gt; 
    &lt;/Button&gt;
        &lt;/p&gt; &lt;p class=&quot;buttons&quot;&gt; 
    &lt;Button&gt; 
        &lt;span class=&quot;icon&quot;&gt; 
        &lt;i class=&quot;fab fa-github&quot;&gt;&lt;/i&gt; &lt;/span&gt; 
        &lt;span&gt;GitHub&lt;/span&gt; 
    &lt;/Button&gt; 
    &lt;Button class=&quot;is-primary&quot;&gt; &lt;span class=&quot;icon&quot;&gt; 
        &lt;i class=&quot;fab fa-twitter&quot;&gt;&lt;/i&gt; 
        &lt;/span&gt; &lt;span&gt;@@jgthms&lt;/span&gt; 
    &lt;/Button&gt; 
    &lt;Button class=&quot;is-success&quot;&gt; 
        &lt;span class=&quot;icon is-small&quot;&gt; 
        &lt;i class=&quot;fas fa-check&quot;&gt;&lt;/i&gt; 
        &lt;/span&gt; &lt;span&gt;Save&lt;/span&gt; 
    &lt;/Button&gt; 
    &lt;Button class=&quot;is-danger is-outlined&quot;&gt; 
        &lt;span&gt;Delete&lt;/span&gt; 
        &lt;span class=&quot;icon is-small&quot;&gt; 
        &lt;i class=&quot;fas fa-times&quot;&gt;&lt;/i&gt; 
        &lt;/span&gt; 
    &lt;/Button&gt; 
    &lt;/p&gt; 
    &lt;p class=&quot;buttons&quot;&gt; 
    &lt;Button class=&quot;is-small&quot;&gt; 
        &lt;span class=&quot;icon is-small&quot;&gt; 
            &lt;i class=&quot;fab fa-github&quot;&gt;&lt;/i&gt; 
            &lt;/span&gt; &lt;span&gt;GitHub
        &lt;/span&gt; 
    &lt;/Button&gt; 
    &lt;Button&gt; &lt;span class=&quot;icon&quot;&gt;
        &lt;i class=&quot;fab fa-github&quot;&gt;&lt;/i&gt; 
        &lt;/span&gt; &lt;span&gt;GitHub&lt;/span&gt; 
    &lt;/Button&gt; 
    &lt;Button class=&quot;is-medium&quot;&gt; 
        &lt;span class=&quot;icon&quot;&gt; 
        &lt;i class=&quot;fab fa-github&quot;&gt;&lt;/i&gt; 
        &lt;/span&gt; &lt;span&gt;GitHub&lt;/span&gt; 
    &lt;/Button&gt; 
    &lt;Button class=&quot;is-large&quot;&gt; 
        &lt;span class=&quot;icon is-medium&quot;&gt; 
        &lt;i class=&quot;fab fa-github&quot;&gt;&lt;/i&gt; 
        &lt;/span&gt; &lt;span&gt;GitHub&lt;/span&gt; 
    &lt;/Button&gt; 
    &lt;/p&gt;
     </Code>
</Snippet>



@code {
}